<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<section class="page-section" id="about" th:fragment="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Visit our warehouse in Miami to see first-hand the quality of our work.</h3>
        </div>
    </div>
    <!-- Map -->
    <div class="map">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3596.799305958477!2d-80.41437898498141!3d25.64478558369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1618778359156!5m2!1ses-419!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Miami</h4>
                <ul>
                    <li>Phone: 786-432-9114</li>
                    <li>Add: 13464 SW 131 Street, FL 33186</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>