<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="darkNav" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="image/navbar-logo.jpg" alt="" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/products}">Products</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/gallery}">Gallery</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/contact}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>