<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NC8YLS2YN1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NC8YLS2YN1');


    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Sawnova - Carpentry in Miami, Kitchens, Bathrooms, Closets, Outdoor Cabinets, Stairs, Doors, Residential
        Cabinetry, Commercial Furniture, Custom-Made Millwork</title>
    <link rel="icon" type="image/x-icon" href="image/saw-icon.svg"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/app.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<div th:replace="common/navbar-regular::navbar"></div>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading">We create custom woodworking that is tailored to your needs and specs, using the
            most-advanced technology
        </div>
        <div class="masthead-subheading">Office Furniture, Kitchen Cabinets, Bathroom Vanities, Closets, and more</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
</header>
<!-- Services -->
<section class="page-section">
    <div class="container" id="services">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Business Lines</h2>
            <h3 class="section-subheading text-muted">We offer two distinct business lines to ensure that we meet the
                unique needs of each of our customers' projects.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <a th:href="@{/products#commercial}">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">COMMERCIAL</h4>
                </a>
                <p class="text-muted">Our custom woodwork is the perfect solution for businesses in Miami looking to
                    optimize their space while maintaining a professional and stylish appearance.</p>
                <p class="text-muted">From elegant reception desks to functional storage cabinets, we have the expertise
                    to deliver high-quality solutions for any commercial space.</p>
                <p class="text-muted">Choose us for your commercial cabinetry needs and elevate your business to the
                    next level.</p>
            </div>
            <div class="col-md-6">
                <a th:href="@{/products#residential}">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">RESIDENTIAL</h4>
                </a>
                <p class="text-muted">Our custom furniture pieces are the ultimate addition to any Miami home, adding
                    both
                    functionality and beauty to your living space.</p>
                <p class="text-muted">From kitchen cabinets to bathroom vanities, our team can create custom furniture
                    that perfectly fit your space and style.</p>
                <p class="text-muted">Choose us for your residential cabinetry needs and transform your home into the
                    space of your dreams.</p>
            </div>
        </div>
    </div>
</section>
<!-- About-->
<div th:replace="common/about::about"></div>
<!-- Contact-->
<div th:replace="common/contact::contact"></div>
<!-- Footer-->
<div th:replace="common/footer::footer"></div>
<!-- Core theme JS-->
<script src="js/app.js"></script>
</body>
</html>
